@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Prodject Övning 16 - Industriell maskinpark Blazor</h1>
<br />
Vad som behöves göras i detta projekt:
<br />
Övning 16 – Industriell maskinpark –
Blazor
Du ska i denna laboration skapa en Blazor Web App. Applikation kommer även användas i andra
laborationer framöver så det är viktigt att du genomför denna laboration.
Sidan kommer vara ett Management System för en fiktiv industriell maskinpark. Den är till för
supporttekniker som ska administrera och övervaka maskinparken.
<br />
<br />
<br />
Steg 1 – Bygg upp Blazorsidan
Bygg själva managementsidan som listar upp alla industriella maskiner samt information om dem.
Informationen ska vara maskinens namn, id (GUID), aktuell status (online/offline) samt senaste data
som skickats från maskinen. Det ska även finnas en knapp som ska kunna skicka data till maskinen.
På valfritt ställe på sidan ska det finnas en komponent som är synlig hela tiden där man visar upp lite
statistik om maskinparken. Exempel på data kan vara antal maskiner, antal maskiner som är online,
senast editerad maskin etc. Sidan ska också ha en navbar som minst har en företagslogga och länk
till listan av maskiner.
<br />
<br />
<br />
Steg 2 – Backendfunktionalitet
Annan funktionalitet som ska finnas i programmet (ok att skriva ett Mock Api till en början eller
jobba med en in-memory collection):
<br />
 Hämta och visa upp alla maskiner.
<br />
 Starta och stäng av maskiner.
<br />
 Uppdatera data i maskinen.
<br />
 Lägga till och ta bort maskiner.
